@import './../variables';

.pane {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100vh;
}

@media (min-width: @breakpoint-min-width) {
  .pane {
    flex-direction: row;
  }

  .pane__left {
    width: 300px;
    overflow-y: auto;
    max-height: 100vh;
  }

  .pane__main {
    flex: 1;
    overflow-y: auto;
    max-height: 100vh;
  }
}